@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


.cool-font {
  font-family: 'Bangers', cursive;
}